################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frontend/ForexBroker/bin/Debug
/Frontend/ForexBroker/obj/Debug
